* {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }



.counter{
    background-image: url("./images/background-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
    width: 100%;
    color: #fff;
}
.counter .grid{
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    place-items: center;
    padding-top: 60px;
}
.counter h1{
    font-size: 50px;
}
.counter hr{
    width: 50%;
    margin: 10px auto;
    background: #7fc142;
    height: 2px;
    border: none;
}
.containers{
    max-width: 85%;
    margin: auto;
}
.grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 20px;
}
.top{
    margin-top: 80px;
}

.bc{
    width: 100%;
    height:auto;
    background-image: url("./images/background-1.png");
    gap: 2%;
    text-align: center;
}
h1{
    font-size: 40px;
    color: white;
    display: inline;
}
.btn{
    font-size: 25px;
    padding: 5px 20px;
    border-radius:30px;
    cursor:pointer;
    background-color:#f1c40f;
    border: 1px solid white;
    color: white;
    margin: 20px;
}
.btn:hover{
    color: black;
}
/* --------------- */
footer {
    background: #282834;
    color: #b6b7b9;
    padding: 10% 0 5% 0;
  }
  
  footer .grid {
    grid-template-columns: 6fr 3fr 3fr;
  }
  
  footer p {
    color: #b6b7b9;
    font-size: 15px;
    line-height: 25px;
  }
  
  footer .icon i {
    margin: 20px 20px 20px 0;
    color: #b6b7b9;
  }
  
  footer h2 {
    color: #fff;
    margin-bottom: 10px;
  }
  
  footer li {
    margin-bottom: 20px;
  }
  
  footer i {
    color: #7fc142;
    margin: 20px 0;
    margin-right: 20px;
  }
  
  footer label {
    margin: 20px 0;
  }
  
  .legal {
    padding: 15px 0;
    background: #282834;
    color: #b6b7b9;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
/* footer */
@media only screen and (max-width:768px) {
    .home {
      color: #fff;
      height: 50vh;
    }
  
    .home img {
      width: 100%;
      height: 50vh;
    }
  
    .left, .right {
      width: 100%;
    }
  
    .book h1 {
      margin-bottom: 20px;
    }
  
    .container.flex,
    .book .flex_space {
      flex-direction: column;
    }
  
    .book .grid {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .counter .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .owl-carousel .owl-nav .owl-prev {
      left: 80%;
    }
  
    .gallery .owl-nav .owl-prev {
      left: 75%;
    }
  
    .rooms .owl-nav .owl-prev,
    .rooms .owl-nav .owl-next {
      top: -30%;
    }
  
    .gallery .owl-nav .owl-prev,
    .gallery .owl-nav .owl-next {
      top: -80%;
    }
  
    .services .flex_space {
      flex-direction: column;
    }
  
    .Customer {
      height: 60vh;
    }
  
    .Customer .containers {
      max-width: 80%;
    }
  
    .owl-carousel2 .owl-dots {
      bottom: 0;
      left: 44.5%;
    }
  
    .news .content.flex {
      flex-direction: column;
    }
  
    .news .left {
      padding: 30px 0;
      width: 100%;
    }
  
    .news .right {
      width: 100%;
    }
  
    .newsletter {
      position: relative;
      background: #7fc142;
    }
  
    .newsletter .containers {
      top: 0;
      left: 0;
      width: 100%;
      padding: 40px 30px;
      position: relative;
    }
  
    .newsletter .flex_space {
      flex-direction: column;
    }
  
    .newsletter input:nth-last-child(2) {
      margin: 20px 0;
      width: 100%;
    }
  
    .newsletter input:nth-last-child(1) {
      margin: 0;
    }
  
    footer .grid {
      grid-template-columns: repeat(1, 1fr);
    }
}